<div class="sidebar" data-background-color="white" data-active-color="danger">

      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.bushfighterspaintballclub.com" class="simple-text">
                    Bush Fighter
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                       <%= link_to member_dashboard_path do %>
                        <i class="ti-list"></i>
                        <p>Dashboard</p>
                        <%end%>
                </li>
                <li class="">
                 <%=link_to new_team_path do %>
                        <i class="ti-user"></i>
                        <p>Create Team</p>
                  <%end%>
                </li>
                <li class="">
                     <%= link_to new_game_path  do%>
                        <i class="ti-rss"></i>
                        <p>Create  Post</p>
                        <%end%>

                </li>

                <li class="">
                      <%=link_to games_path do %>
                        <i class="ti-map"></i>
                        <p>All Post</p>
                        <%end%>
                </li>
                 <!-- <li>
                    <%= link_to group_tallies_path(group_id:1) do %>
                       <i class="ti-panel"></i>
                        <p>My Teams</p>
                    <% end %>

                </li> -->
                
                <li>
                    <%= link_to group_tallies_path(group_id:1) do %>
                       <i class="ti-panel"></i>
                        <p>Tally Board</p>
                    <% end %>

                </li>
               <!--  <li>
                    <a href="table.html">
                        <i class="ti-view-list-alt"></i>
                        <p>Create Team</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="ti-text"></i>
                        <p>All Posts</p>
                    </a>
                </li> -->
                <!-- <li>
                    <a href="icons.html">
                        <i class="ti-pencil-alt2"></i>
                        <p>All Team</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="ti-map"></i>
                        <p>My Teams</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                        <i class="ti-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li> -->
        <!-- <li class="active-pro">
                    <a href="upgrade.html">
                        <i class="ti-export"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li> -->
            </ul>
      </div>
    </div>