<header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><%= image_tag 'bflogo.png', alt:"logo" %></a>
                </div>

                <div class="collapse navbar-collapse ">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#features">About Us</a></li>
                        <li class="scroll"><a href="#services">The Game</a></li>
                        <li class="scroll"><a href="#portfolio">Champions</a></li>
                        <li class="scroll"><a href="#about">Safety Rules</a></li>
                        <li class="scroll"><a href="#meet-team">Events</a></li>
                        <li class="scroll"><a href="#pricing">Membership</a></li>

                        <li class="scroll"><a href="#testimonial">Gallery</a></li>
                        <li class="scroll"><a href="#get-in-touch">Contact</a></li>
                        <a class="btn btn-default" href="<%=new_member_registration_path%>">Register</a>

                        <a class="btn btn-default" href="<%= new_member_session_path%>">Log in</a>

                    </ul>





                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="main-slider">
        <div class="owl-carousel">
        <div class="item"  style="background-image: url(<%= image_url('bf3.png') %>);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item"  style="background-image: url(<%= image_url('bg1.png') %>);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>Sparrow Fighter</span> Joins Bushfighters Club</h2>

                                    <!-- <a class="btn btn-primary btn-lg" href="#">Read More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item"  style="background-image: url(<%= image_url('bf5.jpg') %>);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url(<%= image_url('bg2.jpg') %>);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Big Matchet Beats  <span>Young</span> Sparrow</h2>

                                    <!-- <a class="btn btn-primary btn-lg" href="#">Read More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(<%= image_url('bf4.png') %>);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(<%= image_url('bg3.png') %>);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>New Gun Training <span>for</span>  amateurs</h2>
                                    <!-- <a class="btn btn-primary btn-lg" href="#">Read More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(<%= image_url('bg4.png') %>);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Bushfighters Weapon <span>explore</span> for free</h2>
                                    <!-- <a class="btn btn-primary btn-lg" href="#">Read More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="cta" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>Welcome To Bushfighters Paintball Club</h2>
                    <p>We are glad to have your team join the biggest network of paintball Game in Nigeria
                    </p>
                </div>
                <!-- <div class="col-sm-3 text-right">
                    <a class="btn btn-primary btn-lg" href="#">Download Now!</a>
                </div> -->
            </div>
        </div>
    </section><!--/#cta-->

    <section id="features">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">ABOUT US</h2>
                <p class="text-center wow fadeInDown">Welcome to Bushfighters <br> paintball club </p>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <%= image_tag 'main-feature.jpg', alt:"", class:"img-responsive" %>
                </div>
                <div class="col-sm-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="media-body">

                            <p>
We are Abuja premier Paintball (team) park located at Plot 174 Kur Mohammed avenue,River Plate Park central area Abuja, through Kebbi Hotel entrance.
Set strategically by nature, with a beautiful elevated landscape, which presents a perfect viewing from all angles, our unique area is the most authentic in design, a perfect battle ground in the City if not , Nigeria. And we are easily accessible well equipped with high-spec equipment including the latest paintball guns and protective gear to ensure your safety while enjoying a fun-filled day.<br>
Ready to Play?
Create memories that will last a lifetime. Irrespective of how you come, with family, friends, platoon, co-workers or just by yourself, we guarantee a fun filled day of adrenaline exploding actions. Our highly experienced instructors will give players safety talk and sure that your Paintball experience is safe and fun.
<br>
<br>
<a id= "aboutusb" class="btn btn-primary" >Read More</a>
                 


                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <section id="cta2">
        <div class="container">
            <div class="text-center">
                <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms"><span>Bushfighters</span> IS CONNECTING 100s of PAINTBALL TEAMS</h2>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">You earn rewards as you play and invite <br />friends and  Love ones</p>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><!-- <a class="btn btn-primary btn-lg" href="#">Read More</a> --></p>

                <img class="img-responsive wow fadeIn" src="<%= image_url('cta5-bg.jpg') %>" alt="" data-wow-duration="300ms" data-wow-delay="300ms">
            </div>
        </div>
    </section>

    <section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">The Game</h2>
                
            </div>

            <div class="row">
                <div class="features">

                <div class=" col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">GAME PLAN/ OBJECTIVE</h4>
                                <p>The objective of this game is for team members to attempt to find and infiltrate the opponent flag station, capture the flag and return it to their station. Doing so, teams try to mark as many players as possible flag counts 6 point, each player counts 1 point to make. Winner is who gets the flag, points count secondary. 
NB: Winning team is the owner of the opponent flag until the opponent wins it back and they have to attempts maximum to do so.
If a team has more than 1 flag if don’t need to play a team with less flag.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class=" col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">IN CAPTURING THE FLAG</h4>
                                <p>When a player takes their opponents flag, it must be carried openly. It must be visible. A violation of this rule will result in a flag being returned. The flag may not be passed from one player to the as long as both are still in the game.
1. When a flag bearer is marked out, he must call himself out and then call loudly for a judge or referee to assist him by saying ‘JUDGE’. The judge will then hang the flag on the nearest object approximately 3 or 4 feet off the ground. When this is done, the game continues.
2. Players may never touch their own flag.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class=" col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">BEING MARKED OUT (BEING SHOT)</h4>
                                <p> A player is marked out when paint balls hit and break on him (not a splash but breaks). Legs and hands cannot count. Head and torso (whole bag and body) counts.
     2. Any player rubbing or wiping paint off during a game will be ejected from play.   And if he does it again, he would be ejected for the day without refund.
     3. When a player is marked out he will call out loudly, I’M OUT’’ or I’M HIT, immediately raise an arm slowly, place the barrel condom on the gun and exit the field of play through the sides while raising his hands up. He must also turn on the safe mode on his marker and should never remove his goggles till he leaves the fields of play. An eliminated player is out of the game and therefore may not speak or motion, or give any supplies or equipment’s to players still in the game. Do not intentionally shoot at eliminated players.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cubes"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">PAINT CHECK</h4>
                                <p>
                                When a player is been hit in on area he is not sure off, he call for a paint check me’ and continue to play. A judge or referee will check the player for a hit, do not stop paying. If the judge wants a closer look, he will call the player “neutral” by shouting out” this player is Neutral, and would place a hand on the player. If you see a judge with his hand on a player, which should not be fired upon, because he is neutral, he is neutral. Neutral players may not move, and players may not move to improve their position on this player. Once the paint check has been removed, the judge will call the players in or out, and the game will resume.
2. A player is also allowed to call a paint check on another player if he is sure the has been hit and marked. To do this, the player calling the paint check should shout ‘paint check’, followed by the description and location of the player to back check.(i.e Paint check the guy to my left). This is to create a quicker response. If players just call out “paint check” without giving a précised location the referee might not do so. Also if paint checks are called excessively or needlessly the referee may eliminate the player calling the checks. When calling a paint check on a player, but you should continue to fire. You must also tell players who you believe, you have shot to check themselves by shouting ‘’Check yourself please’’. You must be direct by telling a paint check on a player where to check (I.e. check yourself, the guy on the blue jean to my left, check your lower abdomen.
</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->


                    <div class=" col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bar-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">SURRENDER OPTION</h4>
                                <p>1. In situation when you find an opponent in disadvantageous position. (i.e you are 15ff. or less from a player who has no idea you are there), you should give that player a chance to surrender rather than shooting at close range. Call out “Surrender ‘if he responds in an aggressive manner or try to shoot you, you may call out ‘I Surrender’ to avoid being shot at. Player not making any response or those who try to bluff would be shot.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                   

                    <div class="col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">STARTING THE GAME</h4>
                                <p>1. 2 Teams, 2 flag- Teams will be taken to their flag station and shown in which general direct the opponent islocated.
2. If there are time limits the referee announces it. Pay attention 
3. Arms and legs don’t count
4. Head and Torso count as a shot if paint burst.
5. Max paint, 1 hopper 3, pots</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <br>
                    <div class="btn btn-primary"  id= "gamereserve" class="col-sm-6 col-sm-offset-6">
                        Reserve Game
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Our Champions</h2>
                <p class="text-center wow fadeInDown">Let's give honor to who deserves it</p>
            </div>

             <div class="text-center">
                
            </div>  

            <div class="portfolio-items">
                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="<%= image_url('01.jpg') %>"  alt="">
                        <div class="portfolio-info">
                            <h3>The Scopions</h3>
                            L
                            <a class="preview" href="<%= image_url('full.jpg') %>" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="<%= image_url('02.jpg') %>" alt="">
                        <div class="portfolio-info">
                            <h3>The ETBOM</h3>
                            
                            <a class="preview" href="<%= image_url('full.jpg') %>" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="<%= image_url('03.jpg') %>" alt="">
                        <div class="portfolio-info">
                            <h3>Brutal Affliction</h3>
                            
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="<%= image_url('04.png') %>" alt="">
                        <div class="portfolio-info">
                            <h3>Mercenarios</h3>
                            
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="<%= image_url('05.jpg') %>" alt="">
                        <div class="portfolio-info">
                            <h3>Paintball Minas</h3>
                            
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="<%= image_url('11.jpg') %>" alt="">
                        <div class="portfolio-info">
                            <h3>Strike</h3>
                            
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="<%= image_url('07.jpg') %>" alt="">
                        <div class="portfolio-info">
                            <h3>Head Hunterz</h3>
                            
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="<%= image_url('08.png') %>" alt="">
                        <div class="portfolio-info">
                            <h3>Brutal force</h3>
                            
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->

    <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Safety Rules & Regulations</h2>
                <p class="text-center wow fadeInDown">The following rules and regulations are to be adhered to, while the property, whether in the game of paintball or not. Any infraction will be sufficient grounds to terminate the persons use of the facilities, temporarily or throughout the day, depending on the gravity of such infraction. This is done for the safety of all .As paintball which is a fun game can result to serious injuries if proper safety precautions are not taking. Therefore, Bush fighter’s paintball club takes her rules and safety precautions at its pinnacle.
There may be, from time to time, additional or special rules, or a deletion of some rules for a specified game, any deletion or addition will be posited and/ or announced prior to the start of the game.
NB: Mayer’s ejected for rule violation will not be given a refund.
1. Safety goggles must be worn at all times players must put on their goggles whenever they leave the registration center into the field. When players are eliminated, they are to leave their goggles on till they leave the arena.
2. No shooting or dry firing in the neutral area or in the parking lot or registration area. Players may never shoot their guns anywhere with the exception of the playing field. Shoot at what you can see on the field of play.
3. No physical contact, players may never touch another player or fight another opponent physically.
4. Referees decision is absolute. Players are not allowed to argue or insult the referees. Our referees will be ready and happy to discuss or explain a particular call or rule, after the game, for clarification.
5. Players may never construct anything that may hinder his opponent ability to move on the field such as ropes etc. and players may also not verbally abuse an opponent or perform any unsportsmanlike  character.
6. Players are not allowed to climb any structure or barricades. The only objects players are staircase leading up to them.
7. Players must not tamper with the operation of the rented paintball marker (gun) at any time whilst in their care. If there are issues please, players should bring it to the attention of the staff member.
8. Barrel covers are required. Players may not fire or remove their barrel cover from their paintball gun outside the designated playing areas.
9. Unauthorized equipment is not allowed on the playing field. Players are not allowed to bring equipment that deems unsafe or inappropriate by the field operator, such as knives, tools of any kind or bottles etc.
10. All guns most chronograph at 285/300 feet per second (FPS) or under. This is to ensure a fair game, and reduce the effectiveness of the paintball.
11. Players under the influence of drug or alcohol are not allowed.
12. Players are not permitted to smoke on the playing field.
13. The safe mode (which is a bottom or a moveable nut) in the maker must be on before players entre the playing field, and if must also be “turned off’’ as soon as the referee starts counting of accidental discharge, that could result in injuries. 
14. Players are not allowed to shoot anyone at close range to avoid injuries. Therefore players are not to shoot anyone closer than 10-15 feet. If you find yourself too close, you must take steps back while taking the shot.
BEING MARKED OUT (BEING SHOT)
 
1. A payer is marked out when paint balls hit and breakon him (not a splash but breaks). Legs and hands cannot count. Head and torso (whole bag and body) counts.
2. Any player rubbing or wiping paint off during a game will be ejected from play. And if he does it again, he would be ejected for the day without refund.
3. When a player is marked out he will call out loudly, I’M OUT’’ or I’M HIT, immediately raise an arm slowly, place the barrel condom on the gun and exit the field of play through the sides while raising his hands up. He must also turn on the safe mode on his marker and should never remove his goggles till he leaves the fields of play. An eliminated player is out of the game and therefore may not speak or motion, or give any supplies or equipment’s to players still in the game. Do not intentionally shoot at eliminated players.
PAINT CHECK
 
1. When a player is been hit in on area he is not sure off, he call for a paint check me’ and continue to play. A judge or referee will check the player for a hit, do not stop paying. If the judge wants a closer look, he will call the player “neutral” by shouting out” this player is Neutral, and would place a hand on the player. If you see a judge with his hand on a player, which should not be fired upon, because he is neutral, he is neutral. Neutral players may not move, and players may not move to improve their position on this player. Once the paint check has been removed, the judge will call the players in or out, and the game will resume.
2. A player is also allowed to call a paint check on another player if he is sure the has been hit and marked. To do this, the player calling the paint check should shout ‘paint check’, followed by the description and location of the player to back check.(i.e Paint check the guy to my left). This is to create a quicker response. If players just call out “paint check” without giving a précised location the referee might not do so. Also if paint checks are called excessively or needlessly the referee may eliminate the player calling the checks. When calling a paint check on a player, but you should continue to fire. You must also tell players who you believe, you have shot to check themselves by shouting ‘’Check yourself please’’. You must be direct by telling a paint check on a player where to check (I.e. check yourself, the guy on the blue jean to my left, check your lower abdomen.
SURRENDER OPTION
1. In situation when you find an opponent in disadvantageous position. (i.e you are 15ff. or less from a player who has no idea you are there), you should give that player a chance to surrender rather than shooting at close range. Call out “Surrender ‘if he responds in an aggressive manner or try to shoot you, you may call out ‘I Surrender’ to avoid being shot at. Player not making any response or those who try to bluff would be shot.
STARTING THE GAME
1. 2 Teams, 2 flag- Teams will be taken to their flag station and shown in which general direct the opponent islocated.
2. If there are time limits the referee announces it. Pay attention 
3. Arms and legs don’t count
4. Head and Torso count as a shot if paint burst.
5. Max paint, 1 hopper 3, pots.

</p>
            </div>

            <div class="row">
                <div class="col-sm-4 wow fadeInLeft">
                    <!-- <h3 class="column-title">Video 1</h3> -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/leiGMi1hl_g" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInLeft">
                   <!--  <h3 class="column-title">Video 2</h3> -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/E_S6Q_EoSJc" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInLeft">
                   <!--  <h3 class="column-title">Video 3</h3> -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/mMV7XLns7b0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>


            </div>
        </div>
    </section><!--/#about-->

    <section id="work-process">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Our Process</h2>
                <p class="text-center wow fadeInDown">How to Play</p>
            </div>

            <div class="row text-center">
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="icon-circle">
                            <span>1</span>
                            <i class="fa fa-coffee fa-2x"></i>
                        </div>
                        <h3>MEET</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="icon-circle">
                            <span>2</span>
                            <i class="fa fa-bullhorn fa-2x"></i>
                        </div>
                        <h3>PLAN</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="icon-circle">
                            <span>3</span>
                            <i class="fa fa-image fa-2x"></i>
                        </div>
                        <h3>TEST</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="icon-circle">
                            <span>4</span>
                            <i class="fa fa-heart fa-2x"></i>
                        </div>
                        <h3>PRACTISE</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
                        <div class="icon-circle">
                            <span>5</span>
                            <i class="fa fa-shopping-cart fa-2x"></i>
                        </div>
                        <h3>FIGHT</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        <div class="icon-circle">
                            <span>6</span>
                            <i class="fa fa-space-shuttle fa-2x"></i>
                        </div>
                        <h3>WIN</h3>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#work-process-->

    <section id="meet-team">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Events</h2>
                <!-- <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=o4hg3fbdnqnfgfilrocm4cvb6k%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style="border-width:0" width="620" height="400" frameborder="0" scrolling="no"></iframe>

                </div>

            </div>

            <div class="divider"></div>

           
        </div>
    </section><!--/#meet-team-->

    <section id="animated-number">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Bushfighters Quick Facts </h2>
                <!-- <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

            <div class="row text-center">
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="animated-number" data-digit="2305" data-duration="1000"></div>
                        <h4>MEMBERS </h4>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="animated-number" data-digit="500+" data-duration="1000"></div>
                        <h4>PAINT BALL CLUBS</h4>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="animated-number" data-digit="3025" data-duration="1000"></div>
                         
                        <h4 >BATTLE FIELDS</h4>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="animated-number" data-digit="1199" data-duration="1000"></div>
                        <h4>WEAPONS</h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#animated-number-->

    <section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">MEMBERSHIP</h2>
                <p class="text-center wow fadeInDown">
Would you like to join a group of paintball enthusiasts and friends who share the same passion of playing paintball? If yes, become a member at Bushfighterss Paintball Club, fill our online form below and prepare to have a fantastic paintball season filled with lots of benefits.
<br>
<br>
<a id= "membershipb" class="btn btn-primary" >Read More</a>
</p>
            </div>

            <div class="row">

                <a class="col-sm-6" href="https://amplifypay.com/q2HACqQbZE">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing featured">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        N50,000
                                    </span>

                                </div>

                                <div class="plan-name">
                                    Make Payment
                                </div>
                            </li>
                         <!--    <li><strong>3</strong> DOMAIN</li>
                            <li><strong>300GB</strong> DISK SPACE</li>
                            <li><strong>UNLIMITED</strong> BANDWIDTH</li>
                            <li>SHARED SSL CERTIFICATE</li>
                            <li><strong>30</strong> EMAIL ADDRESS</li>
                            <li><strong>24/7</strong> SUPPORT</li> -->
                            <!-- <li class="plan-purchase"><a class="btn btn-default" href="#">ORDER NOW</a></li> -->
                        </ul>
                    </div>
                </a>
                <a id="mform" class="col-sm-6 "  onclick="openRegistrationModal()">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                        <ul class="pricing">
                            <li class="plan-header">


                                <div class="plan-name">
                                    Fill
                                    <br><br>
                                    <br>Membership Form
                                </div>
                            </li>
                           <!--  <li><strong>5</strong> DOMAIN</li>
                            <li><strong>500GB</strong> DISK SPACE</li>
                            <li><strong>UNLIMITED</strong> BANDWIDTH</li>
                            <li>SHARED SSL CERTIFICATE</li>
                            <li><strong>50</strong> EMAIL ADDRESS</li>
                            <li><strong>24/7</strong> SUPPORT</li> -->
                            <!-- <li class="plan-purchase"><a class="btn btn-primary" href="#">ORDER NOW</a></li> -->
                        </ul>
                    </div>
                </a>
                
            </div>
        </div>
    </section><!--/#pricing-->

    <section id="testimonial">
        <div class="container">
        <div class="section-header">
                <center><h2>Gallery</h2></center>
                
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <div id="carousel-testimonial" class="carousel slide text-center" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/1.jpg') %>" alt=""></p>
                               <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/2.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/3.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/4.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/5.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/6.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/7.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/8.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/9.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/10.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/11.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/12.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/13.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/14.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/15.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/16.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/17.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/18.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/19.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/12.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/20.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/31.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/21.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/22.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/23.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/24.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/25.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/26.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/27.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/12.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/28.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/32.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/29.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                            <div class="item">
                                <p><img width="260px" height="280px" class="img-circle img-thumbnail" src="<%= image_url('blog/30.jpg') %>" alt=""></p>

                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p> -->
                            </div>
                        </div>

                        <!-- Controls -->
                        <div class="btns">
                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="prev">
                                <span class="fa fa-angle-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="next">
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->

 

    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Get in Touch</h2>
                <p class="text-center wow fadeInDown">We would love to hear from you</p>
            </div>
        </div>
    </section><!--/#get-in-touch-->


    <section id="contact">
        <div id="google-map" style="height:650px" data-latitude="52.365629" data-longitude="4.871331"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                <div class="col-sm-6 ">
                        <div class="contact-form">
                            <h3>Direction</h3>

                            <address>
                              <strong>BushFihter, Inc.</strong><br>
                              979 Ahmadu Bello Way, Abuja <br>
                              Nigeria<br>
                              <abbr title="Phone">P:</abbr> (234)803 837 874
                            </address>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1969.990311454946!2d7.491965!3d9.0655293!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x182eccc39a221984!2sBushfighterss+Paintball+Arena!5e0!3m2!1sen!2sng!4v1484302384029" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="contact-form">
                            <h3>Contact Info</h3>

                            <address>
                              <strong>BushFihter, Inc.</strong><br>
                              979 Ahmadu Bello Way, Abuja <br>
                              Nigeria<br>
                              <abbr title="Phone">P:</abbr> (234)803 837 874
                            </address>

                           
                            <form  data-remote="true" id="send-contact">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="8" placeholder="Message" required></textarea>
                                </div>
                                <button  onclick="contactAjax()" type="submit" class="btn btn-primary">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2017. Bushfighters Designed by <a target="_blank" href="http://sulphur1010.github.io/" title="Award winning Software Developer">MustyTech</a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                       <!--  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
     <!-- Agency Modal -->
                    <div class="modal fade" id="aboutus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center" id="exampleModalLabel">ABOUT BushfightersS</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

                                  <p>
We are Abuja premier Paintball (team) park located at Plot 174 Kur Mohammed avenue,River Plate Park central area Abuja, through Kebbi Hotel entrance.
Set strategically by nature, with a beautiful elevated landscape, which presents a perfect viewing from all angles, our unique area is the most authentic in design, a perfect battle ground in the City if not , Nigeria. And we are easily accessible well equipped with high-spec equipment including the latest paintball guns and protective gear to ensure your safety while enjoying a fun-filled day.<br>
Ready to Play?
Create memories that will last a lifetime. Irrespective of how you come, with family, friends, platoon, co-workers or just by yourself, we guarantee a fun filled day of adrenaline exploding actions. Our highly experienced instructors will give players safety talk and sure that your Paintball experience is safe and fun.
</p>
    <p> We are Abuja premier Paintball (team) park located at Plot 174 Kur Mohammed avenue,River Plate Park central area Abuja, through Kebbi Hotel entrance.
Set strategically by nature, with a beautiful elevated landscape, which presents a perfect viewing from all angles, our unique area is the most authentic in design, a perfect battle ground in the City if not , Nigeria. And we are easily accessible well equipped with high-spec equipment including the latest paintball guns and protective gear to ensure your safety while enjoying a fun-filled day.<br>
Ready to Play?
Create memories that will last a lifetime. Irrespective of how you come, with family, friends, platoon, co-workers or just by yourself, we guarantee a fun filled day of adrenaline exploding actions. Our highly experienced instructors will give players safety talk and sure that your Paintball experience is safe and fun.
<br></p>
<br><b>ABOUT PAINTBALL</b>
<br>Paintball is played in over 40 countries by millions of Men and Women of all ages and lifestyles. An exercise that is best for burning calorie, keeping fit and having fun.
Paintballs come in rainbow of bright colors, green, blue, yellow, pink and more. When a paintball tags a player, the thin gelatin skin splits open, and the liquid inside leaves a bright ‘’paint’’ mark. A player who is marked is eliminated from the game.
<br>
<br><b>ABOUT OUR TALLY BOARD</b>
<br>The saying goes “give honor to which honor is due”. Bush Fighters Paintball Club adopts a customized tally board system used to recognize outstanding performances during the game. We award points for ‘headshot’ and ‘body shot’ which combines to produce ‘total kills’. All participants have an equal opportunity to have their name recorded on the tally board buy having at least one clean shot on either of an opponent’s kill spot (head and body) during the game.
<br>
<br>
<br><b>ABOUT WAIVER</b>
<br>Everyone must sign a waiver form before admittance.
Player must be 10 years of age or above to qualify to play paintball on our field. Minors (18 years below) must have the waiver form signed by their parents or guardian on or before the day of play.
Click here to fill our waiver form.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!-- modal ends -->










 <!-- Membership Modal -->
                    <div class="modal fade" id="membership" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center" >MEMBERSHIP</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


Would you like to join a group of paintball enthusiasts and friends who share the same passion of playing paintball? If yes, become a member at Bushfighterss Paintball Club, fill our online form below and prepare to have a fantastic paintball season filled with lots of benefits.
<br><h5 class="text-center">One-year membership: N50, 000 (2017 SEASON: JAN – DEC 2017)</h5>
Bushfighterss Paintball Club members will receive the following benefits:
<br>Free admission into our playing fields for walk-in at any time (excluded some tournaments and special events).
<br>Free all day compressed air fills at our fields.
<br>Free mask and marker clean up after games.
<br>Discounted prices on paintball field purchases.
<br>N7,500/500 paintballs (members get it at N6,500)
<br>N30,000/2,000 paintballs (members get it at N26,000)
<br>Participation in multiple night games reserved exclusively to Bushfighterss Paintball Club players only.
<br>Discounts and access to some special events
<br>Barbecue and other small chops and drinks at discounted rates for members during special events and tournaments 
<br>5% off pro shop gear and equipment.
<br>5% discount on our go-cart racing course.
<br>5% off at our beautiful and luxurious garden restaurant.
<br>Free internet access.
<br>Group membership of up to 5 or more individuals attracts a 10% discount on the total registration. 
<br>Maiden Bushfighterss members will keep enjoying these discounts and offers as long as they keep renewing. 
N.B This offer is not available after our first year of registration.
<br>Opportunity to play, learn and train with other experienced and professional Bushfighterss Paintball Club members. Etc. 

<br>A walk-in game for non-members attracts a fee of N2500 minus paintball balls (bullet). N1000 for field and N1500 for markers and air. 
N.B members without markers can rent one for N1500.  

<br><h5 class="text-center">All you need to do to enjoy these wonderful benefits is:</h5>
 Purchase or rent your own paintball markers and complete gear.
<br>Pay the sum of N50, 000 to us.
<br>Fill the membership form and sign the waiver form
<br>Get your Identity card.
<br>Go to our website www.Bushfightersspaintballclub.com and familiarize with all our safety rules and regulations.
<br> Membership discounts are reserved only for the members listed on the card and cannot be used by friends, relatives etc. Membership card must be presented at the time of purchase to receive the discounts. Misplaced cards are subject to a N3, 000 replacement fee. In some cases you may be asked for another form of identification to prove the membership is yours. We reserve the right to nullify any membership, without refund if member does not adhere to the rules of membership, rules at the field or compromise the integrity of Bushfighterss Paintball Club in any way as decided by the management.


<br><h5 class="text-center">BUSH FIGHTER PAINT BALL CLUB INDEMNITY/ WAIVER</h5>

<br>I indemnify the owner(s) of Bushfighters paint ball club and all her associates from any and all claims, notions, suits procedures, costs expense, damages and liabilities, including lawyer’s fees arising out of, connected with or resulting from playing the game, and my use of the equipment. Including without limitation the manufacture, selection, delivery, possession, uses and operation of the equipment for its intend use or otherwise not intended use.
<br>I warrant that I am fully aware of all the risks involved in playing ‘Paintball’ and that there may be possibility of injury to me including injury to me if ‘Paintball “equipment does not function properly. I nevertheless assume all such risks. I accept full responsibility for all equipment supplied to me during the course of the day and agree to cover the full cost of any equipment that may be lost or damaged whilst in my care.
<br>I acknowledge that ‘paintball’ is a physical game and may become physically strenuous. I hereby warrant that I have no disability, impairment or ailment which would prevent me from playing ‘Paintball’ or would be detrimental to myself or others health or safety while playing paintball or near the playing field.I undertake to fully abide at all times by the rules and safety procedures.
                  <br>a. I undertake not to remove my safety mask under any circumstances in areas where                       paintball markers are fired. 
                  <br>b. I undertake not to fire or remove any barrel plug or barrel cover from my paintball marker outside the designated playing areas.
                  <br>c. I undertake not to tamper with the operation of my rented paintball marker (gun) at any time whist in my care.
 <br>I understand that Bush Fighters paintball club has a ZERO TOLERENCE POLICY when it comes to any form of safety violations; I understand that if I do not follow the safety rules or instructions then my paintball session will be terminated immediate without any refund. I accept this is done for my safety and fully accept these conditions before I commence play.
<br>I hereby release any photo or video images to be used by Bush Fighters paintball club for promotion and/or advertising.
I acknowledge having read and understood the contents of this indemnity for Bushfighterss paintball club and accept that I and anybody under my supervision are bound by it.



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!-- modal ends -->

<!--  membership modal hidden over here -->

<div class="modal fade login" id="loginModal">
  <div class="modal-dialog login animated">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Bushfighterss Membership form</h4>
        </div>
        <div class="modal-body">
            <div class="box">
                 <div class="content">
                    <div class="division">
                        <div class="line l"></div>
                          <!-- <span> Enter Group Details </span> --> <span id="loading"></span>
                        <div class="line r"></div>
                    </div>
                    <div class="error"></div>
                 </div>
            </div>
            <div class="box">
                <div class="content registerBox">
                 <div class="form">
                    <form  data-remote="true" id="request-demo">
                    <div class="row">
                        <div class="col-md-6">
                             <input  id="organization" class="form-control" type="text" placeholder="Group Name" name="group">
                        </div>

                        <div class="col-md-6">
                            <input  id="name" class="form-control" type="text" placeholder="individual Name" name="name">
                        </div>

                    </div>
                    <br>
                      <input id="email" class="form-control" type="text" placeholder="Group/Official Email" name="email">
                      <br>
                     <input  id="role" class="form-control" type="text" placeholder="Phone number" name="number">
                     <br>
                     <select placeholder="Do You Accept INDEMNITY?"  class="form-control"  name="accept">
                       <option> "Do You Accept Indemnify?" </option>
                        <option value="YES" > YES </option>
                        <option value="NO" > NO </option>
                     </select>
                     <br>
                    <input id="submit" class="btn btn-default btn-register" type="submit" value="Submit Request" name="commit" onclick="submitAjax()">
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="forgot login-footer">
                <span>Looking to
                     <%= link_to new_member_registration_path do %>
                        create an account ?
                    <% end %>
                </span>
            </div>
        </div>
      </div>
  </div>
</div>





<!--  reserve game modal hidden over here -->

<div class="modal fade login" id="reserveModal">
  <div class="modal-dialog login animated">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Bushfighterss Game Reservation Form</h4>
        </div>
        <div class="modal-body">
            <div class="box">
                 <div class="content">
                    <div class="division">
                        <div class="line l"></div>
                          <!-- <span> Enter Group Details </span> --> <span id="loading"></span>
                        <div class="line r"></div>
                    </div>
                    <div class="error"></div>
                 </div>
            </div>
            <div class="box">
                <div class="content registerBox">
                 <div class="form">
                    <form  data-remote="true" id="request-demo">
                    <div class="row">
                        <div class="col-md-6">
                             <input  id="name" class="form-control" type="text" placeholder="Your Name" name="name">
                        </div>

                        <div class="col-md-6">
                            <input  id="phone" class="form-control" type="text" placeholder="Phone number" name="phone">
                        </div>

                    </div>
                    <br>
                    <select  class="form-control"  name="type">
                       <option> Choose Game Type </option>
                        <option value="private" > Private Game </option>
                        <option value="birthday" > Birthday Party </option>
                        <option value="bachelor" > Bachelor and bachelorette Party </option>
                        <option value="corporate" > Corporate events </option>
                        <option value="religious" > Religious Outing</option>
                        <option value="uniform" > Uniform services</option>
                        <option value="school" > School trips</option>
                         <option value="other" > Others</option>
                     </select>
                    <br>
                   
                    <select  class="form-control"  name="package">
                       <option> Select Package </option>
                        <option value="assault" > Assault Package</option>
                        <option value="insurance" > Insurance Package </option>
                        <option value="purge" > Purge</option>
                     </select>
                    <br>
                      <div class="row">
                        <div class="col-md-6">
                             <input  id="name" class="form-control" type="text" placeholder="Date" name="date">
                        </div>

                        <div class="col-md-6">
                            <input  id="time" class="form-control" type="text" placeholder="time" name="time">
                        </div>

                    </div>
                     
                     
                     <br>
                    <input id="submit" class="btn btn-default btn-register" type="submit" value="Submit Request" name="commit" onclick="reserveAjax()"">
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="forgot login-footer">
                <span>Looking to
                     <%= link_to new_member_registration_path do %>
                        create an account ?
                    <% end %>
                </span>
            </div>
        </div>
      </div>
  </div>
</div>