<div class="wrapper">
 <%= render partial: "teams/sidebar" %>
<div class="main-panel expand">
 <%= render partial: "members/navbar" %>

<div class="panel panel-default">
<div class="panel-body">
<div class="row">
<div class="col-md-12">

<h1 class="review_title"><%= @game.title%></h1>
<div class="table-responsive">
<table class="table">
	<tbody>
	<tr>
	<p><strong>Title:</strong>
	
	<%= @game.title %></p>
	
	</tr>
	<tr>
	<p><strong>Description:</strong>
	
	<%=  @game.description  %>
	
	</p></tr>
	</tbody>
</table>


</div>


<% if @reviews.blank?%>
<h3> No Review, would you like to add one?</h3>
<%= link_to "Comment", new_game_review_path(game_id:@game.id), class: "btn btn-info"   %>
<%else%>
<%@reviews.each do |rev|%>
<div class="reviews">
	<div class="star-rating" data-score=<%=rev.rating%> > </div>
	

<div class="star-rating" data-score= <%=@avg_review%> ></div>

<div class="table-responsive">
<table class="table">
	<tbody>
	<tr>
	<td><strong>Member:</strong>
	</td>
	<td><%=Member.find(rev.member_id).email%>
	</td>
	</tr>
	<tr>
	<td><strong>Comment:</strong>
	</td>
	<td> <%=rev.comment%>
	</td>
	</tr>
	</tbody>
</table>
<%end%>
<em> <%= "#{@reviews.length} Comments"%></em>
<%= link_to "Comment on post", new_game_review_path(game_id:@game.id), class: "btn  btn-info"  %>

</div>
</div>



<%end%>
</div>
</div>
</div>
</div>


















<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<script>
$(".star-rating").raty({
	path: "/assets/",
	readOnly: true,
	score: function(){
		return $(this).attr('data-score');
	}

});
</script>
