<div class col-sm-12 md-12 >
<%= form_for(@tally,url: group_tallies_path ) do |f| %>
  <% if @tally.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tally.errors.count, "error") %> prohibited this tally from being saved:</h2>

      <ul>
      <% @tally.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :head_shots %><br>
    <%= f.number_field :head %>
  </div>
  <div class="field">
    <%= f.label :body_shots %><br>
    <%= f.number_field :body %>
  </div>
    
   <div class="field">
    <%= f.label :kills %><br>
    <%= f.text_field :kills %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>